main{
    border:1px solid red;
}
.section{
    border:1px solid green;
    display: flex;
    margin:10px;
    padding: 10px;
}
.info{
    flex:3;
    margin:10px;
    padding: 10px;
    border:1px solid yellow;

}

.form{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:1px solid blue;
    background-color: blueviolet;
    color: white;
}